.box {
    margin-top: 1%;
    margin-bottom: 3%;
}

ul {
    margin: 1%;
    padding: 1%;
    height: 210px;
    overflow:hidden;
    overflow-y:scroll;
}

h3{
    margin-top: 2%;
    color: rgb(32, 74, 171);
}

.form-select {
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 15%;
    width: 70%;
}

label {
    margin-left: 15%;
    margin-top: 2%;
    color: rgb(32, 74, 171);
}

.btn {
    margin-left: 33%;
    width: 30%;
    margin-top: 2%;
    margin-bottom: 4%;
    background-color: rgb(32, 74, 171);
}