<div class="row">
    <div class="col-7">
        <img src="../assets/images/supp.png" class="slika">
    </div>
    <div class="col-5">
        <div class="opis">
            <h3>Welcome to System support</h3>
            <p>
                - Assistance for stores of computers and computer parts
            </p>
            <p>
                - Help for computer services
            </p>
            <div style="display: flex; flex-direction: column;">
                <label>
                    Marko Trifunovic
                </label>
                <label>
                    Anja Pesic
                </label>
                <label>
                    Milica Urukalo
                </label>
            </div>
        </div>
    </div>
</div>
