<div class="row">
    <h3 class="d-flex justify-content-center">
        Evaluation of the validity</h3>
    <div class="box d-flex justify-content-center">
      <div class="col-8 card" style="background-color: #cfd1d3;">
        <div class="card-body row">
          <div class="col">
            <select #selected class="form-select">
              <option selected>Choose GPU</option>
            </select>
            <select #selected class="form-select">
                <option selected>Choose CPU</option>
            </select>
            <select #selected class="form-select">
                <option selected>Choose Storage Device</option>
            </select>
            <select #selected class="form-select">
                <option selected>Choose RAM</option>
            </select>
            <button type="button" class="btn btn-secondary">Suggest</button>
          </div>
        </div>
      </div>
    </div>
  </div>